:root {
  --radius: 5px;
}

.font-default {
  font-family: 'Noto Sans', ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
.font-serif {
  font-family: 'Noto Serif', Georgia, ui-serif, serif;
}
.font-mono {
  /* Monospace */
  font-family: 'Roboto Mono', Courier, monospace;
}
.font-sc {
  /* Small caps font */
  font-family: 'Alegreya Sans SC', sans-serif;
}

#barContainer {
  margin: 0 auto;
  position: relative;
  background: #101010;
  height: 512px;
  width: 80px;
  border-radius: var(--radius);
}

#bar {
  position: absolute;
  bottom: 0;
  background: #00a2c3;
  height: 70%;
  width: 80px;
  border-radius: var(--radius) var(--radius) var(--radius) var(--radius);
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 3px rgba(0,50,100,0.9);
}

#bar.animate {
  animation: grow 1s ease-out forwards;
  transform-origin: bottom;
}

#uiContainer {
  left: 0;
  right: 0;
}

@keyframes grow{
  from{
    transform: scaleY(0);
  }
}

#statsDisplay {
  position: relative;
  margin-top: 20px !important;
  margin: 0 auto;
  left: 0;
  padding: 5px;
  text-align: center;
}

p {
  font-size: 18px;
}
#larger {
  font-size: 36px;
}

.addButtons {
  font-family: 'Noto Sans', ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  background: white;
  border: 0;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  padding: 5px 10px;
  background: #22bd7b;
  color: white;
  border-radius: 5px;
}

.addButtons:hover {
  background: #22bd7b;
  animation: gradualhover .5s infinite;
}

@keyframes gradualhover {
  from {background: #22bd7b}
  to {background: #00be88}
}

.addButtons:active {
  background: #00be95;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#btnContainer {
  text-align: center;
  width: 0 72;
  display: relative;
}

#resetButton {
  background: #e61919;
}

#resetButton:hover {
  background: #ff2626 !important;
}

#resetButton:active {
  background: #ff4d4d !important;
}